# IDE Files
.vs/

# Data Files
data/
**.tsv

# Notebook Files
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/
notebooks/cafa-5-protein-function-with-tensorflow.ipynb

# Build Files
*.egg-info
src/cafa/etl/__pycache__/

# misc
.DS_Store
*.numbers